{% extends 'layout.html' %}
{% block head %}
    {% parent %}
<style type="text/css">
#main{
background-color: #800000;
font-size: larger;
color: white;
width: 40%;
height: 50%;
margin-top: 200px;
margin-left: 400px;
text-align : center;
}

-->
</style>
{% endblock %}
{% block content %}
<div id="main">
  <div><p>HTTP 403</p> </div>
      <div><p>Droits insuffisants</p> </div>
      <div><p>Vous n'etes pas autorisés à effectuer cette action</p></div>
      <div>{{err}}</div>
</div>
     

{% endblock %}
